@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{font-family: "Roboto", sans-serif;font-weight:500;margin:0;padding:0;background:#ffffff;color:#000000}
header{text-align:center;padding:0px;justify-items:center}
.headerbox{background:rgb(0, 0, 0);}
h1{position: relative;font-size: 8em;color:#fff; top:2rem;left:1rem;}
section{max-width:1100px;margin:auto;padding:40px 20px}
.skills{display:grid;grid-template-columns:repeat(auto-fit,minmax(150px,1fr));gap:10px}
.skill{background:#444444;padding:10px;border-radius:6px}
.gallery{display:grid;grid-template-columns:repeat(3,1fr);gap:16px;justify-items:center}
.project{position:relative;width:100%;aspect-ratio:1/1;overflow:hidden}
.project img{width:100%;height:100%;object-fit:cover;transition:transform .3s}
.project:hover img{transform:scale(1.05)}
.project-title{position:absolute;bottom:15px;left:30px;background:rgb(0, 0, 0);padding:5px 8px;opacity:0;transition:opacity .3s}
.project:hover .project-title{opacity:1}

a:link, a:visited {background-color: rgba(244, 67, 54, 0);color: white;padding: 15px 25px;text-align: center;text-decoration: none;display: inline-block;}
a:hover, a:active {background-color: rgba(255, 255, 255, 0);}

/* project page back button(top left) */
.project-back {position:fixed;top:10px;left:0px;background:#000000;border:2px solid #000;cursor:pointer;z-index:3001}
.project-back a {padding: 10px}

/* project page main */
main{max-width:1100px;margin:auto;padding:40px 20px;justify-items:center}
main .h1{margin-bottom:10px}

.project-images img{width:100%;max-width:900px;aspect-ratio:16/9;object-fit:cover;margin:20px 0; display: block;}
.project-videos{width:100%;max-width:900px;object-fit:cover;margin:20px 0; display: block;}
.aspect-16-9{cursor:pointer}
.aspect-16-9 img{width:100%;height:100%;object-fit:scale-down}

/* project pageimage viewer (top right) */
.image-viewer{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;display:none;align-items:center;justify-content:center;z-index:5000}
.image-viewer img{max-width:95%;max-height:95%}
.viewer-close{position:absolute;top:10px;right:10px;background:#000000;border:2px solid #000;padding:4px 8px;cursor:pointer;z-index:5001}
.viewer-close p {color:#fff;}

.tldrtexta {display:block;}
.tldrtextb {display:none;}

.tldrbuttona {cursor:pointer;}
.tldrbuttonb {cursor:pointer;}
